#u12989:active
{
	background: url("../images/u12989-m.png") no-repeat 0px 0px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 2393.659953703703px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 8px;
}

#pu12970
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u12970
{
	z-index: 2;
	width: 204px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C9E56C;
	position: relative;
	margin-right: -10000px;
}

#u12971
{
	z-index: 3;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F6FEC3;
	position: relative;
	margin-right: -10000px;
	left: 204px;
}

#u12972
{
	z-index: 4;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD263;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u12973
{
	z-index: 5;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F77A68;
	position: relative;
	margin-right: -10000px;
	left: 616px;
}

#u12974
{
	z-index: 6;
	width: 210px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #DD9BC1;
	position: relative;
	margin-right: -10000px;
	left: 821px;
}

#u12975
{
	z-index: 7;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C399E5;
	position: relative;
	margin-right: -10000px;
	left: 1027px;
}

#u12976
{
	z-index: 8;
	width: 214px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #7098DE;
	position: relative;
	margin-right: -10000px;
	left: 1225px;
}

#u12977
{
	z-index: 9;
	width: 201px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #63BBE9;
	position: relative;
	margin-right: -10000px;
	left: 1438px;
}

#pu13003
{
	width: 0.01px;
	left: -5px;
	position: relative;
}

#u13003
{
	z-index: 10;
	width: 1400px;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u12982
{
	z-index: 13;
	background: url("../images/u12982_states.png") no-repeat 0px 0px;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 415px;
}

#u12982_states
{
	height: 19px;
	width: 53px;
	vertical-align: top;
}

#u12982:hover #u12982_states
{
	background: url("../images/u12982_states-r.png") no-repeat 0px 0px;
}

#u12982:active #u12982_states
{
	background: url("../images/u12982_states-m.png") no-repeat 0px 0px;
}

#u12980
{
	z-index: 16;
	width: 275px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u12983
{
	z-index: 19;
	height: 19px;
	width: 74px;
	vertical-align: top;
	background: url("../images/u12983.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 544px;
}

#u12983:hover
{
	background: url("../images/u12983-r.png") no-repeat 0px 0px;
}

#u12983:active
{
	background: url("../images/u12983-m.png") no-repeat 0px 0px;
}

#u12984
{
	z-index: 22;
	width: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 870px;
}

#u12984:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFD263;
	background-color: transparent;
	width: 51px;
	min-height: 0px;
	margin: 30px -10002px -2px -2px;
}

.srcoll
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u12991-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 3px;
}

#u12985
{
	z-index: 24;
	height: 19px;
	width: 92px;
	vertical-align: top;
	background: url("../images/u12985.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 693px;
}

#u12985:hover
{
	background: url("../images/u12985-r.png") no-repeat 0px 0px;
}

#u12985:active
{
	background: url("../images/u12985-m.png") no-repeat 0px 0px;
}

#u12986
{
	z-index: 27;
	width: 47px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 410px;
}

.ie #u12986
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12986:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #7098DE;
	background-color: transparent;
	width: 47px;
	height: 22px;
	min-height: 0px;
	margin: 29px -10002px -2px -2px;
}

#u12987
{
	z-index: 28;
	width: 71px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 542px;
}

.ie #u12987
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12987:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #F77A68;
	background-color: transparent;
	width: 71px;
	height: 22px;
	min-height: 0px;
	margin: 29px -10002px -2px -2px;
}

#u12988
{
	z-index: 29;
	width: 90px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 693px;
}

.ie #u12988
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12988:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #DD9BC1;
	background-color: transparent;
	width: 90px;
	height: 22px;
	min-height: 0px;
	margin: 29px -10002px -2px -2px;
}

#u12989
{
	z-index: 31;
	height: 20px;
	width: 57px;
	vertical-align: top;
	background: url("../images/u12989.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 999px;
}

#u12990
{
	z-index: 33;
	width: 53px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 997px;
}

.ie #u12990
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12990:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #E4F2B5;
	background-color: transparent;
	width: 53px;
	height: 22px;
	min-height: 0px;
	margin: 30px -10002px -2px -2px;
}

.ie #u12986:hover,.ie #u12987:hover,.ie #u12988:hover,.ie #u12990:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u12993
{
	z-index: 38;
	width: 126px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1191px;
}

#u12995
{
	z-index: 40;
	width: 27px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 1290px;
}

.ie #u12995
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

