#u12537:active
{
	background: url("../images/u12537-m.png") no-repeat 0px 0px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 2393.2149691358013px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 8px;
}

#pu12513
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u12513
{
	z-index: 2;
	width: 204px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C9E56C;
	position: relative;
	margin-right: -10000px;
}

#u12514
{
	z-index: 3;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F6FEC3;
	position: relative;
	margin-right: -10000px;
	left: 204px;
}

#u12515
{
	z-index: 4;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD263;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u12516
{
	z-index: 5;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F77A68;
	position: relative;
	margin-right: -10000px;
	left: 616px;
}

#u12517
{
	z-index: 6;
	width: 210px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #DD9BC1;
	position: relative;
	margin-right: -10000px;
	left: 821px;
}

#u12518
{
	z-index: 7;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C399E5;
	position: relative;
	margin-right: -10000px;
	left: 1027px;
}

#u12519
{
	z-index: 8;
	width: 214px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #7098DE;
	position: relative;
	margin-right: -10000px;
	left: 1225px;
}

#u12520
{
	z-index: 9;
	width: 201px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #63BBE9;
	position: relative;
	margin-right: -10000px;
	left: 1438px;
}

#pu12552
{
	width: 0.01px;
	left: -5px;
	margin-top: 11px;
	position: relative;
}

#u12552
{
	z-index: 10;
	width: 1400px;
	position: relative;
	margin-right: -10000px;
	left: 27px;
}

#u12521
{
	z-index: 12;
	width: 275px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u13036
{
	z-index: 14;
	width: 102px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 1062px;
}

#u12530
{
	z-index: 16;
	background: url("../images/u12530_states.png") no-repeat 0px 0px;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 415px;
}

#u12530_states
{
	height: 19px;
	width: 53px;
	vertical-align: top;
}

#u12530:hover #u12530_states
{
	background: url("../images/u12530_states-r.png") no-repeat 0px 0px;
}

#u12530:active #u12530_states
{
	background: url("../images/u12530_states-m.png") no-repeat 0px 0px;
}

#u12531
{
	z-index: 20;
	height: 19px;
	width: 74px;
	vertical-align: top;
	background: url("../images/u12531.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 544px;
}

#u12531:hover
{
	background: url("../images/u12531-r.png") no-repeat 0px 0px;
}

#u12531:active
{
	background: url("../images/u12531-m.png") no-repeat 0px 0px;
}

#u12532
{
	z-index: 23;
	width: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 870px;
}

#u12532:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFD263;
	background-color: transparent;
	width: 51px;
	min-height: 0px;
	margin: 19px -10002px -2px -2px;
}

.srcoll
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u12539-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 3px;
}

#u12533
{
	z-index: 25;
	height: 19px;
	width: 92px;
	vertical-align: top;
	background: url("../images/u12533.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 693px;
}

#u12533:hover
{
	background: url("../images/u12533-r.png") no-repeat 0px 0px;
}

#u12533:active
{
	background: url("../images/u12533-m.png") no-repeat 0px 0px;
}

#u12534
{
	z-index: 28;
	width: 47px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 410px;
}

.ie #u13036,.ie #u12534
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12534:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #7098DE;
	background-color: transparent;
	width: 47px;
	height: 22px;
	min-height: 0px;
	margin: 18px -10002px -2px -2px;
}

#u12535
{
	z-index: 29;
	width: 71px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 542px;
}

.ie #u12535
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12535:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #F77A68;
	background-color: transparent;
	width: 71px;
	height: 22px;
	min-height: 0px;
	margin: 18px -10002px -2px -2px;
}

#u12536
{
	z-index: 30;
	width: 90px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 693px;
}

.ie #u12536
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12536:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #DD9BC1;
	background-color: transparent;
	width: 90px;
	height: 22px;
	min-height: 0px;
	margin: 18px -10002px -2px -2px;
}

#u12537
{
	z-index: 32;
	height: 20px;
	width: 57px;
	vertical-align: top;
	background: url("../images/u12537.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 999px;
}

#u12538
{
	z-index: 34;
	width: 53px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 997px;
}

.ie #u12538
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12538:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #E4F2B5;
	background-color: transparent;
	width: 53px;
	height: 22px;
	min-height: 0px;
	margin: 19px -10002px -2px -2px;
}

.ie #u12534:hover,.ie #u12535:hover,.ie #u12536:hover,.ie #u12538:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u12540
{
	z-index: 39;
	width: 138px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 1179px;
}

#u12541
{
	z-index: 40;
	width: 126px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#u12562
{
	z-index: 42;
	width: 27px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1290px;
}

.ie #u12562
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12568
{
	z-index: 43;
	width: 269px;
	height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 649px;
	left: 569px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

