.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 616px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1778px;
	margin-left: auto;
	margin-right: auto;
}

#u2616
{
	z-index: 2;
	width: 204px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C9E56C;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: -100px;
}

#u2617
{
	z-index: 3;
	width: 205px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F6FEC3;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: 104px;
}

#ppu2618
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: 309px;
}

#pu2618
{
	width: 0.01px;
	position: relative;
}

#u2618
{
	z-index: 4;
	width: 205px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD263;
	position: relative;
	margin-right: -10000px;
}

#u2619
{
	z-index: 5;
	width: 205px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F77A68;
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u2620
{
	z-index: 6;
	width: 210px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #DD9BC1;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u2621
{
	z-index: 7;
	width: 205px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C399E5;
	position: relative;
	margin-right: -10000px;
	left: 616px;
}

#u2622
{
	z-index: 8;
	width: 213px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #7098DE;
	position: relative;
	margin-right: -10000px;
	left: 813px;
}

#u2687
{
	z-index: 26;
	width: 500px;
	margin-left: 160px;
	margin-top: 149px;
	position: relative;
}

#pu2972
{
	width: 0.01px;
	margin-left: 229px;
	margin-top: 75px;
	position: relative;
}

#u2972
{
	z-index: 10;
	width: 362px;
	position: relative;
	margin-right: -10000px;
}

#u2942
{
	z-index: 12;
	width: 280px;
	height: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 42px;
}

#u2942:hover
{
	border-color: #6598E7;
	width: 280px;
	height: 50px;
	min-height: 0px;
	margin: 98px -10000px 0px 0px;
}

#u2943
{
	z-index: 13;
	width: 280px;
	border-width: 1px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 42px;
}

#u2943:hover
{
	border-color: #6598E7;
	width: 280px;
	min-height: 0px;
	margin: 173px -10000px 0px 0px;
}

#u2951-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
}

#u2944
{
	z-index: 14;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: #6598E7;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 42px;
}

#u2952-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-bottom: -13px;
	position: relative;
	margin-right: -10000px;
	margin-top: -12px;
	left: 96px;
}

#u2945
{
	z-index: 16;
	height: 59px;
	width: 179px;
	vertical-align: top;
	background: url("../images/u2945.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 44px;
}

#u2945:hover
{
	background: url("../images/u2945-r.png") no-repeat 0px 0px;
}

#u2623
{
	z-index: 9;
	width: 205px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #63BBE9;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: 1335px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

