#u9718:active
{
	background: url("../images/u9718-m.png") no-repeat 0px 0px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 2394px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 2341px;
}

#pu9703
{
	width: 0.01px;
	left: -55px;
	position: relative;
}

#u9703
{
	z-index: 4;
	width: 204px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C9E56C;
	position: relative;
	margin-right: -10000px;
}

#u9704
{
	z-index: 5;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F6FEC3;
	position: relative;
	margin-right: -10000px;
	left: 204px;
}

#u9705
{
	z-index: 6;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD263;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u9706
{
	z-index: 7;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F77A68;
	position: relative;
	margin-right: -10000px;
	left: 616px;
}

#u9707
{
	z-index: 8;
	width: 210px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #DD9BC1;
	position: relative;
	margin-right: -10000px;
	left: 821px;
}

#u9708
{
	z-index: 9;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C399E5;
	position: relative;
	margin-right: -10000px;
	left: 1027px;
}

#u9709
{
	z-index: 10;
	width: 214px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #7098DE;
	position: relative;
	margin-right: -10000px;
	left: 1225px;
}

#u9710
{
	z-index: 11;
	width: 201px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #63BBE9;
	position: relative;
	margin-right: -10000px;
	left: 1438px;
}

#pu9701
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 11px;
	position: relative;
}

#u9701
{
	z-index: 2;
	width: 1439px;
	position: relative;
	margin-right: -10000px;
}

#u9711
{
	z-index: 13;
	background: url("../images/u9711_states.png") no-repeat 0px 0px;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 368px;
}

#u9711_states
{
	height: 19px;
	width: 53px;
	vertical-align: top;
}

#u9711:hover #u9711_states
{
	background: url("../images/u9711_states-r.png") no-repeat 0px 0px;
}

#u9711:active #u9711_states
{
	background: url("../images/u9711_states-m.png") no-repeat 0px 0px;
}

#u9712
{
	z-index: 17;
	height: 19px;
	width: 74px;
	vertical-align: top;
	background: url("../images/u9712.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 498px;
}

#u9712:hover
{
	background: url("../images/u9712-r.png") no-repeat 0px 0px;
}

#u9712:active
{
	background: url("../images/u9712-m.png") no-repeat 0px 0px;
}

#u9713
{
	z-index: 20;
	width: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 824px;
}

#u9713:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFD263;
	background-color: transparent;
	width: 51px;
	min-height: 0px;
	margin: 21px -10002px -2px -2px;
}

.srcoll
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u9720-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 3px;
}

#u9714
{
	z-index: 22;
	height: 19px;
	width: 92px;
	vertical-align: top;
	background: url("../images/u9714.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 646px;
}

#u9714:hover
{
	background: url("../images/u9714-r.png") no-repeat 0px 0px;
}

#u9714:active
{
	background: url("../images/u9714-m.png") no-repeat 0px 0px;
}

#u9715
{
	z-index: 25;
	width: 47px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 364px;
}

.ie #u9715
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u9715:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #7098DE;
	background-color: transparent;
	width: 47px;
	height: 22px;
	min-height: 0px;
	margin: 20px -10002px -2px -2px;
}

#u9716
{
	z-index: 26;
	width: 71px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 495px;
}

.ie #u9716
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u9716:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #F77A68;
	background-color: transparent;
	width: 71px;
	height: 22px;
	min-height: 0px;
	margin: 20px -10002px -2px -2px;
}

#u9717
{
	z-index: 27;
	width: 90px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 646px;
}

.ie #u9717
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u9717:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #DD9BC1;
	background-color: transparent;
	width: 90px;
	height: 22px;
	min-height: 0px;
	margin: 20px -10002px -2px -2px;
}

#u9718
{
	z-index: 29;
	height: 20px;
	width: 57px;
	vertical-align: top;
	background: url("../images/u9718.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 953px;
}

#u9719
{
	z-index: 31;
	width: 53px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 951px;
}

.ie #u9719
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u9719:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #E4F2B5;
	background-color: transparent;
	width: 53px;
	height: 22px;
	min-height: 0px;
	margin: 22px -10002px -2px -2px;
}

.ie #u9715:hover,.ie #u9716:hover,.ie #u9717:hover,.ie #u9719:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

