#u4049:active
{
	background: url("../images/u4049-m.png") no-repeat 0px 0px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 2394px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 1826px;
}

#pu4032
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u4032
{
	z-index: 2;
	width: 204px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C9E56C;
	position: relative;
	margin-right: -10000px;
}

#u4033
{
	z-index: 3;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F6FEC3;
	position: relative;
	margin-right: -10000px;
	left: 204px;
}

#u4034
{
	z-index: 4;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD263;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u4035
{
	z-index: 5;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #F77A68;
	position: relative;
	margin-right: -10000px;
	left: 616px;
}

#u4036
{
	z-index: 6;
	width: 210px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #DD9BC1;
	position: relative;
	margin-right: -10000px;
	left: 821px;
}

#u4037
{
	z-index: 7;
	width: 206px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #C399E5;
	position: relative;
	margin-right: -10000px;
	left: 1027px;
}

#u4038
{
	z-index: 8;
	width: 214px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #7098DE;
	position: relative;
	margin-right: -10000px;
	left: 1225px;
}

#u4039
{
	z-index: 9;
	width: 201px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #63BBE9;
	position: relative;
	margin-right: -10000px;
	left: 1438px;
}

#pu4040
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

#u4040
{
	z-index: 10;
	width: 1439px;
	position: relative;
	margin-right: -10000px;
}

#u4042
{
	z-index: 13;
	background: url("../images/u4042_states.png") no-repeat 0px 0px;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 378px;
}

#u4042_states
{
	height: 19px;
	width: 53px;
	vertical-align: top;
}

#u4042:hover #u4042_states
{
	background: url("../images/u4042_states-r.png") no-repeat 0px 0px;
}

#u4042:active #u4042_states
{
	background: url("../images/u4042_states-m.png") no-repeat 0px 0px;
}

#u4043
{
	z-index: 17;
	height: 19px;
	width: 74px;
	vertical-align: top;
	background: url("../images/u4043.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 508px;
}

#u4043:hover
{
	background: url("../images/u4043-r.png") no-repeat 0px 0px;
}

#u4043:active
{
	background: url("../images/u4043-m.png") no-repeat 0px 0px;
}

#u4044
{
	z-index: 20;
	width: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 828px;
}

#u4044:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFD263;
	background-color: transparent;
	width: 51px;
	min-height: 0px;
	margin: 24px -10002px -2px -2px;
}

.srcoll
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u4051-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 2px;
}

#u4045
{
	z-index: 22;
	height: 19px;
	width: 92px;
	vertical-align: top;
	background: url("../images/u4045.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 656px;
}

#u4045:hover
{
	background: url("../images/u4045-r.png") no-repeat 0px 0px;
}

#u4045:active
{
	background: url("../images/u4045-m.png") no-repeat 0px 0px;
}

#u4046
{
	z-index: 25;
	width: 47px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 373px;
}

.ie #u4046
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4046:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #7098DE;
	background-color: transparent;
	width: 47px;
	height: 22px;
	min-height: 0px;
	margin: 22px -10002px -2px -2px;
}

#u4047
{
	z-index: 26;
	width: 71px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 505px;
}

.ie #u4047
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4047:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #F77A68;
	background-color: transparent;
	width: 71px;
	height: 22px;
	min-height: 0px;
	margin: 22px -10002px -2px -2px;
}

#u4048
{
	z-index: 27;
	width: 90px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 656px;
}

.ie #u4048
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4048:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #DD9BC1;
	background-color: transparent;
	width: 90px;
	height: 22px;
	min-height: 0px;
	margin: 22px -10002px -2px -2px;
}

#u4049
{
	z-index: 29;
	height: 20px;
	width: 57px;
	vertical-align: top;
	background: url("../images/u4049.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 962px;
}

#u4050
{
	z-index: 31;
	width: 53px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 960px;
}

.ie #u4050
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4050:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #E4F2B5;
	background-color: transparent;
	width: 53px;
	height: 22px;
	min-height: 0px;
	margin: 23px -10002px -2px -2px;
}

.ie #u4046:hover,.ie #u4047:hover,.ie #u4048:hover,.ie #u4050:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u4080
{
	z-index: 36;
	width: 1440px;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

